.searchBoxTitle {
    font-size: 16px;
    line-height: 1;
    color: #f2ffff;
    font-weight: 600;
    padding: 4px 12px 4px 12px;
    width: 40%;
    background: #000000 url(../../public/tab.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    border-top-right-radius: 7px;
    margin-left: auto;
    font-family: 'Karla', sans-serif;
}
.searchFieldWrapper {
    padding: 30px;
    border: 1px solid #000000;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.dropdown{
    font-size: 16px !important;
}