@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@font-face {
    font-family: ParsQuran;
    src: url('../public/fonts/UthmanTN.otf');
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: ParsQuran, "Traditional Arabic", "Simplified Arabic", "Times New Roman", Verdana, Tahoma !important;
    display: block;
}

a {
    color: inherit;
    text-decoration: none !important;
}

* {
    box-sizing: border-box;
}
.customImg {
    object-fit: contain;
    width: auto !important;
    max-width: 100% !important;
    position: relative !important;
    height: unset !important;
    min-width: unset !important;
    min-height: unset !important;
}

.unsetImg {
    max-width: 100%;
    width: auto !important;
    min-width: unset !important;
}
.unsetImg > span {
    position: unset !important;
}
.content {
    padding: 0 4rem;
}
.welcome {
    font-size: 2rem;
    font-weight: bold;
}
.topBar {
    margin: 3rem 0;
}
.widgetArea {
    background: #f1f5f9;
    padding: 3rem 0;
}
label {
	margin-bottom: .5rem;
}
.font-size-26{
    font-size: 26px;
}
.serial{
    color: #176200;
}