.topArea {
    padding-top: 30px;
    text-align: right;
}

.topArea a {
    color: #000000;
    transition: 0.2s;
}

.topArea a:hover {
    color: #4834d4;
}
.logo{
    width: 80px;
    overflow: hidden;
    margin: 0 auto;
}